{
  "extends": "@nordicsemiconductor/eslint-config-asset-tracker-cloud-typescript",
  "rules": {
    "no-constant-condition": ["off"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "plugins": ["import"],
  "overrides": [
    {
      "files": ["*.spec.ts"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    }
  ]
}
